body{
	background-color:#d5f3fe ;
}

h1{
	color: darkred ;
}

#p1{
	
	color: #0066ff;
}

#p2{
	
	color: #0066ff;
}

#p3{
	
	color: #0066ff;
}

#p4{
	
	color: #0066ff;
}

.lasts{
	
	color: #ffff ;
}



#p8{
	
	color: #0066ff;
}

#p9{
	
	color: #0066ff;
}

#p0{
	
	color: #0066ff;
}




